# Virtual environment
venv/
ENV/
env/

# env files
.env

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
*.sqlite3

# VSCode settings
.vscode/

# Django DB
db.sqlite3

# OS-specific Files
.DS_Store
Thumbs.db