{% extends 'diary/base.html' %}
{% block content %}
 
    <div class="diary-title">
        <h1> {{ diary.title }} </h1>
    </div>
    <div class="diary-body">
        <p> {{ diary.body|linebreaks }} </p>
    </div>

    <div class="diary-actions">
        <a href="{% url 'diary:list' %}"> Back to list </a><br>
        <a href='{% url "diary:edit" diary.pk %}'> Falsification of the past </a><br>
        <a href='{% url "diary:delete" diary.pk %}'> Erase the past </a>
    </div>

{% endblock %}
